# Ignore the virtual environment
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables / secrets (we will use this later)
.env

# Ignore IDE specific files
.vscode/
.idea/
